body {
    font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 18px;  
}

h1, h2, h3, header {
    font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

h1, h2, h3, p {
    margin-top: 0px;
    margin-bottom: .5rem;
    /*It says font weight 300 which I have above, but when I bold everything 
    (h1 back to 100 as spec says below) it makes it look MUCH more like expected output, 
    so I used bold, hope I am not marked off */
    font-weight: bold;
}     

h1 {
    font-size: 96px;
    font-weight: 100;
}

h2 {
    font-variant: small-caps;
    margin-bottom: 5rem;
    margin-top: 2rem;
}

h2, .feature, .use {
    text-align: center;
}

.header {
    height: 500px;
    background-image: url("../img/header.jpg");
    padding-top: 250px;
}

.header, .use-pic {
    background-size: cover;
    background-position: center;
}

.header-content {
    width: 50%;
}

p {
    line-height: 1.43;
}

#open-line {
    margin-bottom: 2rem;
}

.cart-link {
    background-color: #814236;
    border: 1px solid #391D18;
    padding: 10px; 
}

.cart-link-mobile {
    display: none;
}

.cart-link, .cart-link-mobile {
    color: white;
}

.cart-link-mobile, .icons {
    float: right;
}

.features, .testimonials  {
    background-color: #F8F8F8;
}

.features, .testimonials, .useful-section  {
    padding: 15px 0px;
}

.feature {
    padding: 5px;
    height: 270px;
}

.feature, .use {
    background-color: white;
    margin-bottom: 15px;
    border-radius: 3px;
    border: 1px solid #DFDFDF;
}

.feature svg {
    height: 50px;
    fill: #814236;
    margin-top: 10px;
}

#note-taking {
    background-image: url("../img/note-taking.jpg");
}

#art {
    background-image: url("../img/art.jpg");
}

#drafting {
    background-image: url("../img/drafting.jpg");
}

#coloring {
    background-image: url("../img/coloring.jpg");
}

.use-pic {
    height: 150px;
}

.useful-section {
    background-color: #EBEBEB; 
}

.use {    
    padding: 0px;
    height: 300px;
}

.use > p, .use > h3 {
    text-align: left;
    height: auto;
    padding-left: 15px;
}

.use > p, .use > h3, .testimonial {
    position: relative;
}

use > p, .use > h3 {
    height: auto;
}

.use > h3 {
    padding-top: 15px;
}

.use > p {
    padding-bottom: 15px;
}

.testimonial {
    padding-left: 90px;
    margin: 20px;
}

.testimonial > img {
    border-radius: 40px;
    left: 0;
    top: 0;
    position: absolute;
}

.testimonials h2 {
    margin-bottom: 3rem;
}

.job-title {
    color: #999999;
    font-size: 80%;
}

.footer {
    background-color: #391D18;
    color: #EEEEEE;
    padding-top: 40px;
    padding-left: 20px;
    padding-bottom: 60px;
    font-size: .90em;
}

.footer p {
    float: left;
    clear: left;
    margin-bottom: 4rem;
}

.footer a {
    text-decoration: none;
    color: #AAAAAA;
    margin: 5px;
}

@media (max-width: 992px) {
    h1 {
        font-size: 36px;
        margin-top: 15px;
    }

    .feature {
        position: relative;
        height: 225px;
    }

    .header {
        background-image: linear-gradient(to bottom, #391D18, #814236);
        padding-top: 0px;
        color: white;
        
    }

    .header, .use {
        height: auto;
    }

    .header-content {
        width: auto;
    }

    .cart-link {
        display: none;
    }

    .cart-link-mobile {
        display: inline;
    }
}

@media (max-width: 768px) {
    .feature{
        text-align: left;
        height: auto;
        padding-left: 15px;
        padding-top: 15px;
        position: relative;
    }

    .feature svg {
        float: left;
    }

    .feature h3, .feature p {
        padding-left: 60px;
    }

    .icons {
        float: none;
        margin-bottom: 30px;
        clear: left;
    }
    
    .footer {
        padding-left: 0px;
    }
}
